/* ===================================================================
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ==================================================================*/

/* markitup skin markitup
 * ======================
 * Filename:	style.css
 * Skin name:	markItUp!
 * Description:	The official markItUp! skin
 * URL:		http://markitup.jaysalvat.com/downloads/demo.php?id=skins/simple
 * Authors:	Jay Salvat - http://markitup.jaysalvat.com/
 * 		Luke Scammell - http://scammell.co.uk/
 */

/* LS 2010-05-07 17:04:07
 * ======================
 * This stylesheet is designed to use markitup.skin.default.css as a base
 * and override where needed.
 * 
 * This allows for flexibility and on-the-fly switching and helps keep the
 * amount of code to a minimum.
 * 
 * Let something like minify deal with further reducing CSS calls to the server.
 * http://code.google.com/p/minify/
 */
.markItUp  {
	border:5px solid #f5f5f5;
	margin:5px 0;
	width:700px;
}
.markItUpContainer  {
	background:url("i/bg-container.png") repeat-x #fff;
	border:1px solid #3c769d;
	font:11px Verdana,Arial,Helvetica,sans-serif;		/* LS 2010-05-07 16:14:34 - Hmmmmmmmmm, this... does this get used in the dropdown menus? */
	padding:5px 5px 2px 5px;
}
.markItUpEditor,
.markItUpPreviewFrame {
	border:1px solid #3c769d;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-khtml-border-radius:0;
	border-radius:0;					/* No rounded corners, thank you. */
}
.markItUpPreviewFrame {
	width:677px;
}
.markItUpEditor {
	padding-left:35px;
	width:643px;						/* LS 2010-05-07 16:51:33 - need to check these figures... */
	height:320px;						/* LS 2010-05-07 16:51:33 - need to check these figures... */
	background-image:url("i/bg-editor.png");
	background-repeat:no-repeat;
	border-width:3px;
}

/***************************************************************************************/
/* LS 2010-05-05 13:28:18
 * ======================
 * Text area background image.
 * This is useful in the testing environment to actually see that you are changing the button bar
 * Make sure you override this in other styles using - div.markItUpContainer .markItUpEditor {background-image:none;}
 */
.bbcode .markItUpEditor,
.xbbcode .markItUpEditor	{background-image:url("i/bg-editor-bbcode.png");}
.dotclear .markItUpEditor	{background-image:url("i/bg-editor-dotclear.png");}
.html .markItUpEditor		{background-image:url("i/bg-editor-html.png");}
.markdown .markItUpEditor	{background-image:url("i/bg-editor-markdown.png");}
.textile .markItUpEditor	{background-image:url("i/bg-editor-textile.png");}
.wiki .markItUpEditor		{background-image:url("i/bg-editor-wiki.png");}