/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/

/* markitup skin markitup
 * ----------------------
 * Filename:	style.css
 * Skin name:	markItUp!
 * Description:	The official markItUp! skin
 * URL:		http://markitup.jaysalvat.com/downloads/demo.php?id=skins/simple
 * Authors:	Jay Salvat - http://markitup.jaysalvat.com/
 * 		Luke Scammell - http://scammell.co.uk/
 */
.markItUp * {
	margin:0;
	padding:0;
	outline:none;
}
.markItUp a:link,
.markItUp a:visited {
	color:#000;
	text-decoration:none;
}
.markItUp  {
	width:700px;
	margin:5px 0 5px 0;
	border:5px solid #f5f5f5;
}
.markItUpContainer  {
	border:1px solid #3c769d;
	background:#FFF url(images/bg-container.png) repeat-x top left;
	padding:5px 5px 2px 5px;
	font:11px Verdana, Arial, Helvetica, sans-serif;
}
.markItUpEditor {
	font:12px "Consolas", "DejaVu Sans Mono", "Monaco", "Andale Mono", "Courier New", monospace;	/* LS 2010-05-06 10:10:55 - Courier is just so old... */
	padding:5px 5px 5px 35px;
	border:3px solid #3c769d;
	width:643px;
	height:320px;
	background-image:url(images/bg-editor.png);
	background-repeat:no-repeat;
	clear:both; display:block;
	line-height:18px;
	overflow:auto;
}
.markItUpPreviewFrame	{
	overflow:auto;
	background-color:#fff;
	border:1px solid #3c769d;
	width:99.9%;
	height:350px;
	margin:5px 0;
}
.markItUpFooter {
	width:100%;
	cursor:n-resize;
}
.markItUpResizeHandle {
	overflow:hidden;
	width:22px; height:5px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(images/handle.png);
	cursor:n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li {
	margin-bottom:5px;
}
.markItUpHeader ul li	{
	list-style:none;
	float:left;
	position:relative;
}
.markItUpHeader ul li ul{
	display:none;
}
.markItUpHeader ul li:hover > ul{
	display:block;
}
.markItUpHeader ul .markItUpDropMenu {
	background:transparent url(images/menu.png) no-repeat 115% 50%;
	margin-right:5px;
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right:0;
	margin-bottom:0;
}
.markItUpHeader ul .markItUpSeparator {
	margin:0 10px;
	width:1px;
	height:16px;
	overflow:hidden;
	background-color:#ccc;
	top:3px;
	cursor:default;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0;
}
/* next rows of buttons */
.markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:18px; left:0;	
	background:#F5F5F5;
	border:1px solid #3c769d;
	height:inherit;
	padding:0;
}
.markItUpHeader ul ul li {
	float:none;
	border:none;
	border-bottom:1px solid #3c769d;
}
.markItUpHeader ul ul .markItUpDropMenu {
	background:#F5F5F5 url(images/submenu.png) no-repeat 100% 50%;
}
/* next rows of buttons */
.markItUpHeader ul ul ul {
	position:absolute;
	top:-1px; left:150px;
}
.markItUpHeader ul ul ul li {
	float:none;
}
.markItUpHeader ul a {
	display:block;
	width:16px; height:16px;
	text-indent:-10000px;
	background-repeat:no-repeat;
	padding:3px;
	margin:0;
}
.markItUpHeader ul ul a {
	display:block;
	padding-left:0;
	text-indent:0;
	width:120px;
	padding:5px 5px 5px 25px;
}
.markItUpHeader ul a:hover {
	background-color:#ccc;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.markItUpHeader ul ul a:hover  {
	color:#fff;
	background-color:#3c769d;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}
/***************************************************************************************/
/* LS 2010-05-05 13:28:18
 * ----------------------
 * Textarea background image.
 * This is useful in the testing environment to actually see that you are changing the button bar
 * Make sure you override this in other styles using - div.markItUpContainer .markItUpEditor {background-image:none;}
 */
.bbcode .markItUpEditor,
.xbbcode .markItUpEditor	{background-image:url("images/bg-editor-bbcode.png");}
.dotclear .markItUpEditor	{background-image:url("images/bg-editor-dotclear.png");}
.html .markItUpEditor		{background-image:url("images/bg-editor-html.png)";}
.markdown .markItUpEditor	{background-image:url("images/bg-editor-markdown.png");}
.textile .markItUpEditor	{background-image:url("images/bg-editor-textile.png");}
.wiki .markItUpEditor		{background-image:url("images/bg-editor-wiki.png");}

/* LS 2010-05-04 17:30:18
 * ----------------------
 * These are the button sprites, you no longer need a style.css for each set...
 * You can always override the look of the buttons in a skin.
 * If you are sticking with 16px icons, then you only need to override the one rule, eg:
 * .markItUpButton a {background-image:url("skins/exampleskin/mui-btn-sprite.png");
 * 
 * http://spritegen.website-performance.org/
 */

.markItUpButton a {
	background-image:url("images/mui-btn-sprite.png");
	background-repeat:none;
	width:16px;
	height:16px;
	display:block;
	margin:0;
	padding:0;
	border:0;
	}

/* LS 2010-05-05 15:51:20
 * ----------------------
 * Remember to add the padding value of the above rule ".markItUpHeader ul a" to both horizontal and vertical positioning values
 * Obviously, if you change the value of the padding abve, you will need to recalculate here as well...
 */
.mui-btn-a a					{background-position:3px 3px;}
.mui-btn-blockquote a				{background-position:3px -63px;}
.mui-btn-bug a					{background-position:3px -129px;}
.mui-btn-calculator a				{background-position:3px -195px;}
.mui-btn-calendar a				{background-position:3px -261px;}
.mui-btn-clean a				{background-position:3px -327px;}
.mui-btn-code a					{background-position:3px -393px;}
.mui-btn-colour a				{background-position:3px -459px;}
.mui-btn-del a					{background-position:3px -525px;}
.mui-btn-em a					{background-position:3px -591px;}
.mui-btn-email a				{background-position:3px -657px;}
.mui-btn-feed a					{background-position:3px -723px;}
.mui-btn-font-family a				{background-position:3px -789px;}
.markItUpHeader ul ul .mui-btn-font-family a	{background-position:3px -788px;}   /* LS 2010-05-04 17:26:02 - +1px from above rule */
.mui-btn-h1 a					{background-position:3px -855px;}
.mui-btn-h2 a					{background-position:3px -921px;}
.mui-btn-h3 a					{background-position:3px -987px;}
.mui-btn-h4 a					{background-position:3px -1053px;}
.mui-btn-h5 a					{background-position:3px -1119px;}
.mui-btn-h6 a					{background-position:3px -1185px;}
.mui-btn-htmltidyrepair a			{background-position:3px -1251px;}
.mui-btn-htmltidyreport a			{background-position:3px -1317px;}
.mui-btn-img a					{background-position:3px -1383px;}
.mui-btn-li a					{background-position:3px -1449px;}
.mui-btn-load a					{background-position:3px -1515px;}
.mui-btn-no-formatting a			{background-position:3px -1581px;}
.mui-btn-ol a					{background-position:3px -1647px;}
.mui-btn-p a					{background-position:3px -1713px;}
.mui-btn-save a					{background-position:3px -1729px;}
.mui-btn-sort a					{background-position:3px -1845px;}
.mui-btn-strong a				{background-position:3px -1911px;}
.mui-btn-table-col a				{background-position:-63px 3px;}
.mui-btn-table-row a				{background-position:-63px -63px;}
.mui-btn-table a				{background-position:-63px -129px;}
.mui-btn-tick a					{background-position:-63px -195px;}
.mui-btn-tinyurl a				{background-position:-63px -261px;}
.mui-btn-ul a					{background-position:-63px -327px;}
.mui-btn-underlined a				{background-position:-63px -393px;}
.mui-btn-url a					{background-position:-63px -459px;}