body {
	background:#eee url("body.png") repeat-x;
	font:13px "Trebuchet MS", Arial, Verdana;
	padding-top:95px;
}
a {
	text-decoration:none;
	color:#3c769d;
}
h1 a,
p em a {
	display:block;
	overflow:hidden;
	text-indent:-1000px;
	position:absolute;
	top:0;
	left:0;
}
h1 a {
	background:#eee url("markitup.png") no-repeat top left;
	width:245px;
	height:85px;
	top:28px;
	
}
p em a {
	background:transparent url("jaysalvat.png") no-repeat 10% 50%;
	width:120px;
	height:28px;
	left:30px;
}
h2	{
	margin-bottom:0;
}
h2 + p	{
	margin-top:0;
}
/* LS 2010-05-06 13:40:36
 * ======================
 * Styling for the set switcher, not required for general use.
 */
#switcher {
	height:1.4em;
	padding:0;
}
#switcher li {
	line-height:1.4em;
	list-style:none;
	float:left;
	margin-right:20px;
}
#switcher .currentSet {
	font-weight:bold;
	color:#906;
	padding-left:20px;
	background:transparent url("accept.png") no-repeat top left;
}