/**
# markItUp!
## Universal MarkUp Engine, jQuery plugin

Copyright © 2008 [Jay Salvat](http://markitup.jaysalvat.com/)

## Skin name: Simple
 - miu.skin.default.css

## Description
 - A good set of defaults that the other skins can use as a base.

#### Author
 - Jay Salvat
 - <http://jaysalvat.com/>

### Contributors
 - Luke Scammell
 - <http://scammell.co.uk/>

## Install
 1. Download the zip file
 2. Unzip it in your markItUp! `skin` folder
 3. Modify your CSS link to point at this skin
*/

.markItUp,
.markItUpContainer,
.markItUpHeader,
.markItUpHeader ul,
.markItUpHeader li,
.markItUpEditor,
.markItUpFooter {
	background:none;
	border:0;
	margin:0;
	outline:none;
	padding:0;
	width:auto;
}
.markItUp a,
.markItUp a:visited {
	color:#000;
	text-decoration:none;
}
.markItUp {
	margin:1em 0;			/* Override to give the editor a little vertical space */
	width:700px;
}
.markItUpEditor,
.markItUpPreviewFrame {
	background-color:#fff;		/* Specific override of above rule */
	clear:both;			/* Position between the header (button bar) and footer */
	display:block;
	font:normal normal normal 12px/1.5em Consolas, "DejaVu Sans Mono", Monaco, "Andale Mono", "Courier New", Courier, monospace;	/* LS 2010-05-06 10:10:55 - Courier is just so old... */
	overflow:auto;			/* Scroll when needed */
	padding:5px;			/* Put some space between the text and the edge of the textarea */
	width:690px;			/* 690px = 700px - padding */
	height:290px;			/* 290px = 300px - padding */
	/* Border styling */
	border:1px #ddd solid;		/* Subtle border for the textarea */
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;		/* LS 2010-05-06 10:12:04 - something nice and subtle to fit into contemporary design themes */
}
.markItUpResizeHandle {			/* LS 2010-05-07 11:09:15 - maybe ditch this and use auto-grow? */
	overflow:hidden;
	width:22px;
	height:5px;
	margin:0 auto;
	background-image:url("../icons/miu.icons.famfamfam.16px.png"); /* LS 2011-01-05 17:01:21 - this is really a skin thing, so it shouldn't be in the icons sprite. perhaps just Base64 URL encode it as it's very small? */
	background-position:0 0;
	cursor:n-resize;
}
.markItUpPreviewFrame {
	height:350px;
	margin:5px 0;
}
.markItUpPreviewFrame html,
.markItUpPreviewFrame body {
	border:0;
}

/******************************************************************************/
/* Buttons */
.markItUpHeader li {
	float:left;
	list-style:none;
	margin-bottom:5px;
	position:relative;
}
.markItUpHeader .markItUpSeparator {
	margin:0 10px;
	width:1px;
	height:16px;			/* LS 2011-01-05 17:00:50 - there's an override for this in the icons CSS files. */
	overflow:hidden;
	background-color:#ccc;
	top:3px;			/* Get in line with the buttons - match the padding-top value of ".markItUpHeader ul a". */
	cursor:default;			/* LS 2010-05-07 11:19:10 - Prevents annoying cursor styling flash when moving over the buttons. */
}

/******************************************************************************/
/* Dropdown Menu */
.markItUpDropMenu:hover ul {		/* Show menu on mouse hover. */
	display:block;
	-moz-box-shadow:	3px 3px 11px rgba(0,0,0,.63);
	-webkit-box-shadow:	3px 3px 11px rgba(0,0,0,.63);
	box-shadow:		3px 3px 11px rgba(0,0,0,.63);	/* LS 2010-05-07 17:29:15 - Why not eh? :D */
}
.markItUpDropMenu ul {
	background-color:#fff;
	border:1px #ccc solid;
	border-bottom:0;		/* Prevents double thick border at the bottom of the dropdown due to the rule in .markItUpDropMenu li */
	display:none;
	position:absolute;
	top:18px;
	left:0;
}
.markItUpDropMenu li {
	margin-bottom:0;
	width:120px;
	float:none;
	border-bottom:1px #ccc solid;
}
.markItUpDropMenu li:last-child {
	border-bottom:0;
}

/* Button Styling
 * LS 2010-05-07 16:02:59
 * ======================
 * These are the button sprites, you no longer need a style.css for each set...
 * You can always override the look of the buttons in a skin.
 * If you are sticking with 16px icons, then you only need to override the one rule, eg:
 * .markItUpButton a {background-image:url("../icons/default/i/markitup.icons.default.16px.png");}
 * 
 * Dead useful: http://spritegen.website-performance.org/
 * 
 * LS 2011-01-05 16:56:19
 * ======================
 * All this has now been moved into the icon CSS files...
 * Currently still need to match the padding (just below in .markItUpButton a)
 * to the sprite positioning, but I'm working on a way around that.
 */
.markItUpButton a {
	background-repeat:no-repeat;
	display:block;
	margin:0;
	padding:3px;				/* Make the button click area a bit bigger - this value needs to be added to the sprite positioning values below. */
	text-indent:-10000px;			/* Hide the text. */
}
.markItUpDropMenu a {
	padding-right:6px;			/* Extra padding for the dropdown indicator */
}
/* Visual feedback of being in a button's clickable area. */
.markItUpButton:hover,
li.markItUpDropMenu:hover {
	background-color:#ccc;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
}
/* Dropdown menu styling */
.markItUpDropMenu .markItUpButton a {
	padding:4px 5px 5px 25px;
	text-indent:0;
	width:auto;
}
.markItUpDropMenu .markItUpButton:hover {
	background-color:#ddd;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-khtml-border-radius:0;
	border-radius:0;			/* Don't want rounded corners in the menus. */
}